
<p-card styleClass="shadow-5 mb-5">
    <h1>Pipes personalizados</h1>
    <p>
        Creados por {{'nosotros' | toggleCase:true }}.
    </p>
</p-card>


<p-toolbar>
    <div class="p-toolbar-group-start">
        <button pButton icon="pi pi-plus" class="mr-2"></button>
        <button pButton icon="pi pi-print" class="mr-2"></button>
        <button pButton icon="pi pi-upload"></button>
    </div>
    <div class="p-toolbar-group-center">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText placeholder="Search" />
        </span>
    </div>

</p-toolbar>